html{
  overflow: hidden;
  height: 100%;
  margin:0px;
  border:0px;
  padding:0px;
}


body{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width:100%;
  overflow: auto;
  margin:0px;
  border:0px;
  padding:0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#startScreen {
  height: 100%;
  width: 100%;
  background-image: url("images/1_landing_page.png"); /* The image used */
  background-color: #cccccc;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.shapeContainer{
  height: 100%;
  width: 100%;
  background-image: url("images/new_bg_1.png"); /* The image used */
  background-color: #cccccc;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;

}
.sizeContainer{
  height: 100%;
  width: 100%;
  background-image: url("images/new_bg_2.png"); /* The image used */
  background-color: #cccccc;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;

}
.nameContainer{
  height: 100%;
  width: 100%;
  background-image: url("images/new_bg_3.png"); /* The image used */
  background-color: #cccccc;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.launchStationContainer{
  height: 100%;
  width: 100%;
  background-image: url("images/1_bg.png"); /* The image used */
  background-color: #cccccc;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

/* rock size button shapes */
#shape1{
  background-image: url("images/spherical.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  padding:10px;

  height:80px;
  width: 80px;
}

#shape2{
  background-image: url("images/spiky.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  padding:10px;

  height:80px;
  width: 80px;
}

#shape3{
  background-image: url("images/capsule.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  padding:10px;

  height:80px;
  width: 80px;
}

/* rock size button shapes */
#size1{
  background-image: url("images/small.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  color: #ffffff;
  padding:10px;
  height:80px;
  width: 80px;
}

#size2{
  background-image: url("images/medium.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  color: #ffffff;
  padding:10px;
  height:80px;
  width: 80px;
}

#size3{
  background-image: url("images/big.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  color: #ffffff;
  padding:10px;
  height:80px;
  width: 80px;
}


#triangle {
    width: 160px;
    height: 130px;
    border-bottom: solid 130px red;
    border-left: solid 130px transparent;
    border-right: solid 130px transparent;

    display: inline-block;
    vertical-align: bottom;
    align-content: center;
    align-items: center;

    position: fixed;
    left: 50%;
    bottom:0%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
}


#bt1  {

  background-color: #4ECDC4;
  /* background-image: url("images/small.png"); */
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  font-size: 20px;
  color: #ffffff;
  /* padding:10px; */
  margin:20px;
  height:60px;
  width: 60px;
  position: fixed;  /* or absolute */
  top: 20%;
  left: 40%;
  } /*78,205,196*/
#bt2  {
  background-color: #F7FFF7;
  /* background-image: url("images/small.png"); */
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  font-size: 20px;
  color: #bbbbbb;
  /* padding:10px; */
  margin:20px;
  height:60px;
  width: 60px;
  position: fixed; /* or absolute */
  top: 30%;
  left: 40%;
  } /*247,255,247*/
#bt3  {
  background-color: #FF6B6B;
  /* background-image: url("images/lp_3.png"); */
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  font-size: 20px;
  color: #ffffff;
  /* padding:10px; */
  margin:20px;
  height:60px;
  width: 60px;
  position: fixed; /* or absolute */
  top: 40%;
  left: 40%;
  } /*255, 107, 107*/
#bt4  {
  background-color: #FFE66D;
  /* background-image: url("images/lp_4.png"); */
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  font-size: 20px;
  color: #ffffff;
  /* padding:10px; */
  margin:20px;
  height:60px;
  width: 60px;
  position: fixed;  /* or absolute */
  top: 50%;
  left: 40%;
  } /*255,230,109*/
#bt5  {
  background-color: #5BC0EB;
  /* background-image: url("images/lp_5.png"); */
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  font-size: 20px;
  color: #ffffff;
  /* padding:10px; */
  margin:20px;
  height:60px;
  width: 60px;
  position: fixed;  /* or absolute */
  top: 60%;
  left: 40%;
  } /*198,61,92*/


.launchPage,.launchStationContainer,.nameContainer,.sizeContainer,.shapeContainer{
  display:none;
}

#swipeZone {
  left:0;
  top:0;
  position: absolute;
  height:100%;
  width: 100%;
}

.next{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #FFE66D;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px #ffc74f;
  /* margin-left: 35%;
  margin-top: 35%; */
  position: fixed; /* or absolute */
  top: 75%;
  left: 35%;
}


#title{

  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: -0.6px;

  color: #fafafa;

  left:100%;
  padding-top: 110%;

  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;

}

#stationText{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  left:0%;
  top:30%;
  font-size: 20px;
  padding-top: 25%;
  align-content: center;
  align-items: center;
  text-align: center;
  box-align: center;
  margin-bottom: 1em;
}


.next:hover {background-color: #f9d834}

.next:active {
  background-color: #fccb0a;
  box-shadow: 0 5px #c9a106;
  transform: translateY(4px);
}

.button{
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 25px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  /* color: #000; */
  /*background-color: #4c8ef7;*/
  border: none;
  /* border-radius: 20px; */
  /* box-shadow: 0 6px #367ded; */
  padding:20px;
  margin:20px;
  margin-top:80px;
}

.button:hover {background-color: #ffffff}

.button:focus {
  background-color: #356fed;
  box-shadow: 0 5px #234da8;
  transform: translateY(4px);
}

.instruction{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  left:0%;
  top:50%;
  font-size: 17px;
  padding-top: 60%;
  align-content: center;
  align-items: center;
  text-align: center;
  box-align: center;
  margin-bottom: 1em;
}

.shapeContainer,.nameContainer{
  align-content: center;
  align-items: center;
  box-align: center;
  /* padding-left: 1em;
  padding-top: 1.5em; */
  height:100%;
  overflow: hidden;
  position:fixed;
}

.sizeContainer{
  align-content: center;
  align-items: center;
  box-align: center;
  /* padding-left: 1em;
  padding-top: 1.5em; */
  /* padding-left: 2em;
  padding-top: 1.5em; */
  height:100%;
  overflow: hidden;
  position:fixed;
}

.launchStationContainer{
  overflow: hidden;
  position:fixed;
  height:100%;
}

#asteroidName{
  margin:15px;
  margin-top:80px;
  align-self: center;
  width: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #356fed;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

  left: 10%;
}

#shoot {
  position: fixed; /* or absolute */
  top: 75%;
  left: 20%;
/*
  margin-left:8%;
  margin-top: 20%; */
}

#stations {
  position: absolute;
  text-align: center;
  align-content: center;
}

#stationNum{
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-size: 48px;
  text-align: center;
  width: 100%;
  left:-10px;
  position: absolute;
}

#insertName{
  color: #FF6B6B;
  font-size: 40px;
  text-transform: uppercase;
}

#launchMessage{
  position: fixed;
  top:5%;
  left:5%;
}


#shoot:disabled {
  background-color: grey;
}

/* loading animation */

#loading{
  height:100%;
  overflow: hidden;
  position:fixed;
  background: #202020;
  background-size: 100%;
  width:100%;
  left:0%;
  top:0%;
/*    opacity:0;*/
  display: none;
  z-index: 99;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

#loadingGIF{
  position:absolute;
  left: 0%;
  width:100%;
}

#loadingMessage{
  color: white;
  font-size: 1.5em;
  position: relative;
  left:0%;
  top:10%;
  padding: 10%;
  z-index: 199;
}


#infoPage{
  background: white;
  display: none;
  position:absolute;
  left:0%;
  top:0%;
  padding: 10%;
  width:100%;
  align-content: center;
  align-items: center;
  text-align: center;
}

#craterImage {
  width:100%;
}

#learnMore {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px #367ded;
  padding:15px;
  margin:5px;
  margin-top:20px;
}
