html{
  overflow: hidden;
  height: 100%;
  margin:0px;
  border:0px;
  padding:0px;
}


body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
  width:100%;
  overflow: auto;
  margin:0px;
  border:0px;
  padding:0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#triangle {
    width: 160px;
    height: 130px;
    border-bottom: solid 130px red;
    border-left: solid 130px transparent;
    border-right: solid 130px transparent;

    display: inline-block;
    vertical-align: bottom;
    align-content: center;
    align-items: center;

    position: fixed;
    left: 50%;
    bottom:0%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border: none;
  /* padding: 10px; */
}

.grid-item {
  /* padding: 20px; */
  font-size: 30px;
  /* position: absolute; */
  text-align: center;
  align-content: center;
  border: none;
}

#bt1  {
  background-image: url("images/station.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  /* border-radius: 100px; */
  font-size: 20px;
  color: #fafafa;
  height: 94px;
  width: 94px;
  top: 24%;
  left: 4.533%;
  position: absolute;
  background-color:Transparent;
  border: none;
  }


#bt2  {
  background-image: url("images/station.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  /* border-radius: 100px; */
  font-size: 20px;
  color: #fafafa;
  height: 94px;
  width: 94px;
  top: 44.704%;
  left: 17.333%;
  position: absolute;
  background-color:Transparent;
  border: none;
  }


#bt3  {
  background-image: url("images/station.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 20px;
  color: #fafafa;
  height: 94px;
  width: 94px;
  top: 65%;
  left: 37.6%;
  position: absolute;
  background-color:Transparent;
  border: none;
  }

#bt4  {
  background-image: url("images/station.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 20px;
  color: #fafafa;
  height: 94px;
  width: 94px;
  top: 51.108%;
  left: 59.467%;
  position: absolute;
  background-color:Transparent;
  border: none;
  }

#bt5  {
  background-image: url("images/station.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 20px;
  color: #fafafa;
  height: 94px;
  width: 94px;
  top: 31.128%;
  left: 70.4%;
  position: absolute;
  background-color:Transparent;
  border: none;
  }

#btreplay  {
  background-image: url("images/button_restart.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 20px;
  color: #fafafa;
  height: 65px;
  width: 65px;
  top: 82%;
  right: 23%;
  position: absolute;
  background-color:Transparent;
  border: none;
  }

#btmore  {
  background-image: url("images/button_more.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 20px;
  color: #fafafa;
  height: 65px;
  width: 65px;
  top: 82%;
  left: 23%;
  position: absolute;
  background-color:Transparent;
  border: none;
  }

#btreplay_last  {
  background-image: url("images/button_restart.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 20px;
  color: #fafafa;
  height: 65px;
  width: 65px;
  top: 82%;
  right: 40%;
  position: absolute;
  background-color:Transparent;
  border: none;
  }



.launchPage,.launchStationContainer,.nameContainer,.sizeContainer,.shapeContainer{
  display:none;
}

#swipeZone {
  left:0;
  top:0;
  position: absolute;
  height:100%;
  width: 100%;
}

.next{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #FFE66D;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px #ffc74f;
  margin-left:30%;
  margin-top: 40%;
}

#title{
  left:45%;
  top:15%;
  padding-top: 3em;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  box-align: center;
}

.next:hover {background-color: #f9d834}

.next:active {
  background-color: #fccb0a;
  box-shadow: 0 5px #c9a106;
  transform: translateY(4px);
}

.button{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  display: inline-block;
  /* padding: 15px 25px; */
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color:Transparent;
  border: none;
  /* border-radius: 94px; */
  /* box-shadow: 0 6px #367ded; */
  /* padding:15px;
  margin:5px;
  margin-top:20px; */
}

/* .button:hover {background-color: #356fed} */

/* .button:focus {
  background-color: #356fed;
  box-shadow: 0 5px #234da8;
  transform: translateY(4px);
} */

#replay {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #4c8ef7;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px #367ded;
  padding:15px;
  margin:5px;
  margin-top:20px;
}

#replay:active{
  background-color: #356fed;
  box-shadow: 0 5px #234da8;
  transform: translateY(4px);
}

.instruction{
  font-size: 1.5em;
  padding-top: 17%;
  align-content: center;
  align-items: center;
  text-align: center;
  box-align: center;
  /* margin-bottom: 3em; */
  color:#fafafa;
}

.second_instruction{
  font-size: 1em;
  /* padding-top: 20%; */
  align-content: center;
  align-items: center;
  text-align: center;
  box-align: center;
  color:#fafafa;
}

.third_info{
  font-size: 1em;
  margin-top: 10.5em;
  margin-left: 1em;
  margin-right: 1em;
  align-content: center;
  align-items: center;
  text-align: center;
  box-align: center;
  color:#fafafa;
}

.sticky {
  position:sticky;
  position: -webkit-sticky;
  top:0;
}

.infoContainer{
  background-image: url("images/bg.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  overflow: hidden;
  position:fixed;
  height:100%;
  width: 100%;
}

.contentContainer{
  background-color: #fafafa;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      overflow: hidden;
      position: fixed;
      height: 52%;
      width: 90%;
      border-radius: 10px;
      margin: 5%;
      padding-right: 7%;
      padding-top: 5%;
      padding-bottom: 5%;
      padding-left: 7%;
      font-size: 1em;
      color: #2c416e;
      text-align: -webkit-left;
      text-align: left;
      overflow: scroll;
}

.shapeContainer,.nameContainer{
  align-content: center;
  align-items: center;
  box-align: center;
  padding-left: 1em;
  padding-top: 1.5em;
  height:100%;
  overflow: hidden;
  position:fixed;
}

.sizeContainer{
  align-content: center;
  align-items: center;
  box-align: center;
  padding-left: 2em;
  padding-top: 1.5em;
  height:100%;
  overflow: hidden;
  position:fixed;
}

.launchStationContainer{
  background-image: url("images/station_bg.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  /* position: absolute; */
  overflow: hidden;
  position:fixed;
  height:100%;
  width: 100%;
}

#asteroidName{
  width: 80%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #356fed;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  font-size: 20px;
  position: absolute;
  left: 10%;
}

#shoot {

  margin-left:8%;
  margin-top: 20%;
}

#stations {
  position: absolute;
  text-align: center;
  align-content: center;
}

#stationNum{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  color:black;
  font-size: 48px;
  text-align: center;
  width: 100%;
  left:-10px;
  position: absolute;
}

#insertName{
  color: #FF6B6B;
  font-size: 40px;
  text-transform: uppercase;
}

#launchMessage{
  position: fixed;
  top:5%;
  left:5%;
}


#shoot:disabled {
  background-color: grey;
}

/* loading animation */

#loading{
  height:100%;
  overflow: hidden;
  position:fixed;
  background: #202020;
  background-size: 100%;
  width:100%;
  left:0%;
  top:0%;
/*    opacity:0;*/
  display: none;
  z-index: 99;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

#loadingGIF{
  position:absolute;
  left: 0%;
  width:100%;
}

#loadingMessage{
  color: white;
  font-size: 1.5em;
  position: relative;
  left:0%;
  top:10%;
  padding: 10%;
  z-index: 199;
}


#infoPage{
  /* don't change height:100% and overflow:auto */
  background-image: url("images/bg.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  overflow: hidden;
  position:fixed;
  height:100%;
  width: 100%;

  overflow: auto;
  display: none;
  align-content: center;
  align-items: center;
  text-align: center;
}

#craterBorder {
  background-image: url("images/crater_border.png");
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  /* border-radius: 100px; */
  font-size: 20px;
  color: #fafafa;
  height: 130px;
  width: 130px;
  top: 37.7%;
  left: 32.9%;
  position: absolute;
  background-color:Transparent;
  border: none;
}
#craterImage {
  /* background-image: url("images/crater_border.png"); */
  background-size: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 100px;
  font-size: 20px;
  color: #fafafa;
      height: 98px;
      width: 98px;
      top: 40%;
      left: 37%;
  position: absolute;
  background-color:Transparent;
  border: none;
}

#learnMore {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px #367ded;
  padding:15px;
  margin:5px;
  margin-top:20px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border: 0;
  background: url(images/comet.png);
  background-size: 50px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  border: 0;
  background: url(images/comet.png);
  background-size: 50px;
  cursor: pointer;
}
